:host {
    --slds-c-card-color-background: #D9E7DD;
    --slds-c-badge-color-background: #12A38F ;
    --slds-c-badge-text-color: #FFFFFF;
    --slds-c-badge-text-transform: uppercase;
}
.desc {
    display: flex;
    justify-content: space-between;
}

.today {
    color: red;
    display: inline;
}
.tomorrow {
    color: green;
    display: inline;
}
.later {
    color: blue;
    display: inline;
}

.reverse {
    cursor: pointer;
}
.reverse:hover {
    --slds-c-badge-color-background: #FFFFFF ;
    --slds-c-badge-text-color: #12A38F;
    transition: .7s;
}